@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  font-family: 'Open Sans', sans-serif;
  --primary-color: #CCF381;
  --seccondary-color: #4831D4;
  --terciary-color: #7e6de7;
}

* {
  margin: 0;
  box-sizing: border-box;
}
